* {
    box-sizing: border-box;
  }

  #app {
    background: linear-gradient(to bottom right, #0093D1, #00B5E2);
    height: 100vh;
    margin: 0;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    header {
      padding: 15px;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    button {
      padding: 12px 18px;
      font-size: 1em;
    }
  }

  /* Dark Mode Styles */
  .dark-mode {
    background-color: #121212;
    color: white;
  }
